# ==================================================
# OS Files
# ==================================================

# =========================
# Windows
# =========================
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
# =========================

# =========================
# OSX
# =========================
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
# =========================

# ==================================================



# ==================================================
# Applications
# ==================================================

# =========================
# MATLAB stuff
# =========================
*.asv
*.autosave
*.mat
# MATLAB Coder
*.mexw64
*.mex
# Simulink project file
slprj
# =========================

# =========================
# LaTeX stuff
# =========================
*.acn
*.asv
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.loe
*.lot
*.loa
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.bak
*.1
*.mp
*.lol
*.bib$
_*.pdf
*.tps

# tikzedt stuff
*.preview.*
*.preview_BB.*
# =========================

# ==================================================
